h2{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.container-category-movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 80%;
}

.movie-category{
    width: 21%;
    margin: 30px 0 ;
    border-radius: 10px;
    
}

.movie-category img {
    width: 100%;
    height: 100%;
}