.container-details-movie{
    width: 76%;
    margin: 10px auto;
    padding: 10px;
    border: solid 1px red;
    
    
}

.information-main{
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: solid 1px red ;
    

}

.img-poster{
    width: 130%;
  
}

.img-poster img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    
}


.information{
    margin-left: 10px;
}

.title-movie-detail{
    text-align: left;
    font-size: 40px;
    margin: 0;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

.details_votes{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

.generoMovieDetails h2{
    text-align: left;
    font-size: 40px;
    margin: 0;
}



.category-title{
    text-align: left;
    font-size: 30px;
    margin: 20px 0 ;
}


.generoMovie{
    margin: 0 10px;
    margin-bottom: 0px;
    margin-bottom: 50px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #333333;
    border-radius: 8px;
    color: white;
    text-decoration: none;
}

.generoMovie:first-child{
    margin-left: 0;
}

.generoMovie:hover {
    background-color: #E13C2F;
  }



.description{
    text-align: left;
    font-size: 20px;
    margin: 20px 0 ;
}

#title-cast,#title-trailer{
    
    margin: 50px 0 20px 0;
    font-family: Ubuntu;
    font-size: 45px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    

}

.container-details-movie .carousel{
    width: 100%;
}

.trailer{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}



